<body>
    <form action = '/login' method = 'POST'>
        <label>Username: </label>
        <input type="text" name = 'username' required>
        <label>Password </label>
        <input type="text" name = 'password' required>
        <button type="submit">Submit</button>

    <p></p>
    </form>
    <a href = 'register'>Register</a>
</body>